:root {
    --primary-color: #42413f;
    --secondary-color: #a27a61;
    --secondary-light-color: #f2e8e3;
    --secondary-dark-color: #735744;
    --beige-color: #e5d1c6;
    --beige-dark-color: #c9b7ad;

    --gray-color: #f5ecec;
}

* {
    font-family: "Calibri Light", sans-serif;
    color: var(--primary-color);
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

h1 {
    font-family: "Kranky", serif;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: var(--primary-color);
    background-color: var(--beige-color);
    transition: background-color 0.3s ease;
    border: 0.063rem solid var(--beige-color);
    border-radius: 50rem;
    font-size: 0.8rem;

    &:hover {
        background-color: var(--beige-dark-color);
    }
}

.header-area {
    margin: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 640px) {
        flex-direction: column;

        .title {
            h1 {
                margin-bottom: 40px;
                text-align: center;
            }
        }
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        color: white;
        background-color: var(--secondary-color);
        border: 0.063rem solid var(--secondary-color);
        margin-left: 1rem;

        &:hover {
            background-color: var(--secondary-dark-color);
        }

        @media screen and (max-width: 640px) {
            margin-left: 0;
        }
    }
}

.banner {
    margin-bottom: 3.25rem;

    img {
        height: 300px;
        width: 100%;
        object-fit: contain;
    }
}

.kategorien {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

    .kategorien-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;

        @media screen and (max-width: 640px) {
            font-size: 14px;
        }
    }

    .kategorien-tile {
        border-radius: 50px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            width: 80px;
            height: 80px;
        }

        @media screen and (max-width: 640px) {
            width: 60px;
            height: 60px;
        }
    }

    .kategorien-tile img {
        width: 100%; /* Bild passt sich der Breite des Containers an */
        height: 100%; /* Bild passt sich der Höhe des Containers an */
        object-fit: cover; /* Bild wird entsprechend skaliert, ohne Verzerrung */
    }

}

.content-area {
    margin: 2.5rem;

    .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Standard: einspaltig */
        gap: 1rem; /* Abstände zwischen den Tiles */

        @media screen and (min-width: 640px) and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr); /* Tablet: zwei nebeneinander */
        }

        @media screen and (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr); /* Desktop: drei nebeneinander */
        }

        .tile {
            border: 1px solid var(--secondary-light-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%; /* Breite 100% im Grid */

            .tile-picture {
                width: 100%;
            }

            img {
                width: 100%;
                height: 25rem;
                object-fit: cover;
            }

            .tile-text {
                padding: 1rem 1rem 2rem 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    margin-top: 1rem;
                }

                a {
                    margin-top: 1rem;

                    &:hover {
                        background-color: var(--beige-dark-color);
                    }
                }
            }
        }
    }
}

.overlay {
    display: none; /* Standardmäßig verborgen */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.overlay-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background: white;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;

    form {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
    }

    input, textarea {
        padding: .5rem 0.938rem;
        border-radius: 10px;
        border: 1px solid var(--beige-color);
        min-width: 94%;
        resize: vertical;

        &:active, &:focus {
            outline: none;
            border-color: var(--beige-dark-color);
        }
    }

    button {
        padding: 0.5rem 2rem;
        color: var(--primary-color);
        background-color: var(--beige-color);
        transition: background-color 0.3s ease;
        border: 0.063rem solid var(--beige-color);
        border-radius: 50rem;
        font-size: 0.8rem;
        max-width: 50%;

        &:hover {
            background-color: var(--beige-dark-color);
        }
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}


